<?php
define('TOUR_ENV', 'development');

define('TOUR_URL', '');

define('TOUR_DB_NAME', '');
define('TOUR_DB_USER', '');
define('TOUR_DB_PASS', '');
define('TOUR_DB_PREFIX', 'tour_');

define('TOUR_SESS_ID', 'tour_session');
define('TOUR_SESS_PATH', NULL);

define('TOUR_SSO_APP_ID', 'bottour');
define('TOUR_SSO_APP_KEY', '3cKCdunIvZC3jddWiw9Cmdq7VAFsB4pmE7pF5oaPCMIpfF8R8J3vLnLN2IJthWeI');
define('TOUR_SSO_NAME', 'P!NGFEST SSO');
define('TOUR_SSO_URL', 'http://localhost/~michael/pingfest/app/index.php/auth');

